In [1]:
# import numpy and pandas libraries

In [2]:
import numpy as  np
import pandas as pd

# Create DataFrame from dict of equal length lists

In [3]:
# last five olymnics data: place, year and number of countries participated
olympic_data_list = {"HostCity":["London","Beijing","Athens","Sydney","Atlanta"],
                    "Year":[2012,2008,2004,2000,1996],
                    "No. of Participating Counturies":[205,204,201,200,197]}

In [4]:
df_olympic_data = pd.DataFrame(olympic_data_list)

In [5]:
df_olympic_data

  HostCity  Year  No. of Participating Counturies
0   London  2012                              205
1  Beijing  2008                              204
2   Athens  2004                              201
3   Sydney  2000                              200
4  Atlanta  1996                              197

# Cteate DataFrame from dict

In [6]:
olympic_data_dict = {"London":{2012:205},"Beijing":{2008:204}}

In [7]:
df_olympic_data_dict = pd.DataFrame(olympic_data_dict)

In [8]:
df_olympic_data_dict

      London  Beijing
2012   205.0      NaN
2008     NaN    204.0

# View DataFrame

In [9]:
# select by City name
df_olympic_data.HostCity

0     London
1    Beijing
2     Athens
3     Sydney
4    Atlanta
Name: HostCity, dtype: object

In [11]:
df_olympic_data.keys()

Index(['HostCity', 'Year', 'No. of Participating Counturies'], dtype='object')

In [12]:
# use describe function to display the content
df_olympic_data.describe

<bound method NDFrame.describe of   HostCity  Year  No. of Participating Counturies
0   London  2012                              205
1  Beijing  2008                              204
2   Athens  2004                              201
3   Sydney  2000                              200
4  Atlanta  1996                              197>

In [13]:
df_olympic_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
HostCity                           5 non-null object
Year                               5 non-null int64
No. of Participating Counturies    5 non-null int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes

## Create DataFrame from dict of Series

In [14]:
olympic_series_participation = pd.Series([205,204,201,200,197],index=[2012,2008,2004,2000,1996])
olympic_series_country = pd.Series(["Lonodn","Beijing","Athens","Sydney","Atlanta"],index=[2012,2008,2004,2000,1996])

In [15]:
df_olympic_series = pd.DataFrame({"No. of Participating Countries ": olympic_series_participation,
                                 "Host Cities ": olympic_series_country})

In [17]:
df_olympic_series

      No. of Participating Countries  Host Cities
2012                              205       Lonodn
2008                              204      Beijing
2004                              201       Athens
2000                              200       Sydney
1996                              197      Atlanta

## Create DataFrame from dict of ndarray

In [18]:
np_array = np.array([2012,2008,2004,2006])
dict_ndarray = {"year" : np_array}

In [19]:
df_ndarray = pd.DataFrame(dict_ndarray)

In [20]:
df_ndarray

   year
0  2012
1  2008
2  2004
3  2006

## Create DataFrame from DataFrame

In [21]:
df_from_df = pd.DataFrame(df_olympic_series)

In [23]:
df_from_df

      No. of Participating Countries  Host Cities
2012                              205       Lonodn
2008                              204      Beijing
2004                              201       Athens
2000                              200       Sydney
1996                              197      Atlanta