# Create Series from list

In [3]:
import numpy as np
import pandas as pd

In [6]:
first_series = pd.Series(list("Hello Python"))

In [7]:
print(first_series)

0     H
1     e
2     l
3     l
4     o
5
6     P
7     y
8     t
9     h
10    o
11    n
dtype: object

# Create Series from ndarray

In [9]:
np_country = np.array(["India","Amercia","Russia","France","Bhutan","England","South Africa","UAE"])

In [10]:
np_series = pd.Series(np_country)

In [11]:
print(np_series)

0           India
1         Amercia
2          Russia
3          France
4          Bhutan
5         England
6    South Africa
7             UAE
dtype: object

In [12]:
for i,row in enumerate(np_series):
    print(i,row)

0 India
1 Amercia
2 Russia
3 France
4 Bhutan
5 England
6 South Africa
7 UAE

# Create Series from dict

In [15]:
dict_country_gdp = pd.Series([324234.343,234234.4565,45542.4354,34.45,343.4,56545.45,343445.23],index=["India","Amercia","South Amercia","North Amercia","England","Bhutan","France"])

In [16]:
print(dict_country_gdp)

India            324234.3430
Amercia          234234.4565
South Amercia     45542.4354
North Amercia        34.4500
England             343.4000
Bhutan            56545.4500
France           343445.2300
dtype: float64

In [17]:
dict_country_gdp.keys()

Index(['India', 'Amercia', 'South Amercia', 'North Amercia', 'England',
       'Bhutan', 'France'],
      dtype='object')

# Create Series from scalar

In [19]:
# print series with scalar input
scalar_series = pd.Series(5.,index=["a","b","c","d","e"])

In [20]:
scalar_series

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

## Accessing Elemetns in Series

In [26]:
# access elements in the series
dict_country_gdp[0]

324234.343

In [27]:
# access first 5 countries from the series
dict_country_gdp[0:5]

India            324234.3430
Amercia          234234.4565
South Amercia     45542.4354
North Amercia        34.4500
England             343.4000
dtype: float64

In [28]:
# look up a country by name or index
dict_country_gdp.loc["India"]

324234.343

In [29]:
dict_country_gdp.loc["Bhutan"]

56545.45

In [30]:
# look up by position
dict_country_gdp.iloc[4]

343.4

## VecorizedOperations in Series

In [31]:
first_vector_series = pd.Series([1,2,3,4],index=["a","b","c","d"])
second_vector_series = pd.Series([10,20,30,40],index=["a","b","c","d"])

In [32]:
first_vector_series + second_vector_series

a    11
b    22
c    33
d    44
dtype: int64

In [33]:
second_vector_series = pd.Series([10,20,30,40],index=["a","d","b","c"])

In [34]:
first_vector_series + second_vector_series

a    11
b    32
c    43
d    24
dtype: int64

## Vectorized Operations on Series(contd)

In [35]:
# now replace few indexed with new ones in second vector series
second_vector_series = pd.Series([10,20,30,40],index=["a","b","e","f"])

In [36]:
first_vector_series + second_vector_series

a    11.0
b    22.0
c     NaN
d     NaN
e     NaN
f     NaN
dtype: float64